
.navbar-brand {
    font-family: 'Patrick Hand SC', cursive;
    font-size: 40px;
    font-weight: 400;
    font-style: oblique;
}



body {
    background-color: #826f2e;
    text-align: center;
    color : #000007;
    font-size : 20px;
}


.btn{
    font-size: 20px;
    background-color: #166f3a;
    border: solid;
    color: #511e52;
}

.dropdown-menu{
    background-color: #d8de00;
    font-size: 20px;
}

.pos{
    display: flex;
    font-size : 60px;
    size: 40px;
}

#image-container {
    display: flex;
    font-size : 30px;
    margin:20px;

}

#userMenu{
    font-size: 40px;
    font-family: 'Patrick Hand SC', cursive;
}

.glyphicon.glyphicon-user {
    font-size: 30px;
}

#postacie-container {
    display: flex;
    font-size : 15px;
    margin-right: auto;
    margin-left: auto;
}

#sub {
    size: 20px;
}

div.fields-title {
    font-size: 10px;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    color: #ff2521;
    size:  40px;
}

.form-inline{
    font-size: 20px;
}


footer {
    height: 60px;
    padding: 15px 0;
    background-color: #cc5d00;
    position: relative;
}

.cos{
    text-align: center;
}

p.backgroundsimages img {
    margin: 0 10px 0 0;
}

input[type=radio]
{
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    padding: 10px;
}

#id_honeypot {
    display: none;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

#icons{
    float:left;
    width: 100px;
    height: 100px;
    margin:5px;
}

p {
    display: block;
    text-align: center;
    color: #000007;
    font-size: 10px;
}

.zapisz{
    height:100px;
    width:200px;
    font-size: 50px;
    background-color: #0054ff;
}

div.formularz label{
    font-size: 30px;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 10px;
}

div.dropdown-menu.open{
    max-height: 314px !important;
    overflow: hidden;
    background-color: #3e8f3e;

}
ul.dropdown-menu.inner{
    max-height: 260px !important;
    overflow-y: auto;
    background-color: #6ede91;
}


.btn:hover
{
    background-image:none;
    background-color: #00621d;
}

a:hover{
    color: chartreuse;
}

a {
    color: #0010e2;
}

.users{
    display: flex;
    font-size: 50px;
}

a.user:hover {
    color: #ff2521;
}

a.user{
    color: darkred;
}

a.pobierz{
    color: #1222e2;
    font-size: 20px;
}

a.pobierz:hover{
    color: #000bff;
}

a.navbar-brand{
    color: #35ff17;
}

a.navbar-brand:hover{
    color: #f95aff;
}

h3{
    font-size: 40px;
}