{% extends "baza.html" %}
{% block title %}Moje konto{% endblock %}

{% block content %}



        <a href = "{% url 'detail' comic.id %}">
            <img src =  "{{ comic.comics.url }}" class= "img responsive" height="400" width="400"><br>
        </a>

    {# Usuwanie dla twórców, dodawanie do ulubionych i usuwanie z ulubionych dla innych użytkowników #}
    {% if user.is_authenticated %}
        {% if user.id == comic.owner.id %}
            <a href = "{% url 'delete_comic' comic.id %}">
                <span class="glyphicon glyphicon-trash"></span> usuń</a>
        {% else  %}
            {% if fav.id > 0 %}
                <span class="glyphicon glyphicon-heart" style="color: #ac2925; font-size: 50px" ></span> <p>Ulubiony</p><a href="{% url 'unfavorite' comic.id %}">Usuń z ulubionych</a><br>
            {% else %}
                <a href="{% url 'favorite' comic.id %}"><span class="glyphicon glyphicon-heart-empty" style="color: #ac2925; font-size: 50px"></span> Dodaj do ulubionych</a><br>
            {% endif %}
            {% if likes.id > 0 %}
                <span class="glyphicon glyphicon-thumbs-down" style="font-size: 50px" ></span>Jednak nie<a href="{% url 'unlike' comic.id %}"> lajkuje</a><br>
            {% else %}
                <span class="glyphicon glyphicon-thumbs-up" style="font-size: 50px" ></span><a href="{% url 'like' comic.id %}">Polajkuj</a><br>
            {% endif %}
        {% endif %}
    {% endif %}


    {# Pobieranie komiksu #}
    <a href="{{ comic.comics.url }}"  download="{{ comic.comics.url }}" class="pobierz">
        <span class="glyphicon glyphicon-download"></span> Pobierz</a><br>


    {# Dane komiksu #}
    Tytuł : {{ comic.title }} <br>
    Data utworzenia: {{ comic.created }}<br>
    Lajki : {{ comic.likes }}<br>
    Twórca: <a href = "{% url 'profil' comic.owner.id %}" class = "user" >{{ comic.owner }} </a>


    {# Subsrypcja twórcy komiksu, anulowanie subskrypcji  #}
    {% if user.is_authenticated %}
        {% if user.id != comic.owner.id and subs.id > 0 %}
            <a href="{% url 'unsubscribe_comic_owner' comic.id %}">Anuluj subsypcje</a><br>
        {% elif user.id != comic.owner.id %}
            <a href="{% url 'subscribe_comic_owner' comic.id %}">Subskrybuj</a>
        {% endif %}
    {% endif %}

    {# Liczba komentarzy #}
    <p style = "font-size:40px ; background-color: #2afffc"><i class="glyphicon glyphicon-comment"></i> Komentarze <span class="badge">{{all_comments.count }}</span></p>
    <hr>

    <div class = "system-message">
    {# Wyświetlanie komentarzy #}
    {% for comment in all_comments %}
        <div class = "system-message">

            Treść : {{ comment.text }}<br>
            Autor : <a href = "{% url 'profil' comment.author.id %}">{{ comment.author }}</a><br>
            Data dodania {{ comment.created }}<br>
            {% if comment.author.id == user.id %}
                <a href="{% url 'usun_komentarz' comment.id %} ">
                    <span class="glyphicon glyphicon-remove" style="color: #000000; font-size: 50px" ></span>Usuń komentarz
                </a>
            {% endif %}
        </div>
        <hr>
    {% endfor %}
    </div>


    {# Dodawanie komentarzy #}
    {% if user.is_authenticated %}
        {% if user.id != comic.owner.id and comm.id > 0 %}
            Już dodałes komentarz do tego komiksu<br>

        {%  elif user.id != comic.owner.id %}
                <form action = "." method = "POST">
                    {% csrf_token %}
                    <div class = "col-sm-6">
                        <textarea class = "tekst" name="text"  style="width: 150px; height: 100px" placeholder="Dodaj komentarz" >{{ text }}</textarea>
                    </div>

                    <input type='submit' value='Zapisz' />
                </form>
        {% endif %}
        {% else %}
            <p>Proszę się <a href="{% url 'logowanie' %}">zalogować,</a> aby dodać komentarz.</p>
    {% endif %}

    Wróć na stronę <a href = " {% url 'home'  %}"> GŁÓWNĄ </a>

{% endblock %}
