{% extends "baza.html" %}


    {% block content %}
        {% load static %}
<br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    {% if last_comics %}
                        {% for comic in last_comics %}Ostatnio dodany komiks
                            <a href="{% url 'detail' comic.id %} ">
                                <figure>
                                    <img src =  "{{ comic.comics.url }}" class= "img-responsive" ></figure>
                            </a>
                                    <figcaption>
                                       Tytuł: {{ comic.title }} <br>
                                        Data dodania: {{ comic.created }} <br>
                                        Autor: <a href="{% url 'profil' comic.owner.id %} " class = "user">{{ comic.owner }}</a>
                                    </figcaption>
                            <br>
                        {%  endfor %}

                    {% else %}
                        <h2>Brak komiksów</h2>
                    {% endif %}
                </div>

                <div class="col-md-4">Bohaterowie
                    <a href="{% url 'postacie' %} ">
                        <figure>
                            <img src =  "{% static 'img/postacie/miks.png' %}" class= "img-responsive" height="600" width="600" >
                            <figcaption>Zobacz dostępne postacie</figcaption>
                        </figure>
                    </a>
                </div>

                <div class="col-md-4">
                    <a href="{% url 'rysuj' %} ">
                        <figure>
                            <img src =  "{% static 'img/postacie/stworz1.png' %}" class= "img-responsive" >

                        </figure>
                    </a>
                </div>
            </div>
        </div>
        <br><br><br><br><br>
    {% endblock %}
