{% extends "baza.html" %}

{% block title %}Moje konto{% endblock %}
{% block content %}
    {% load staticfiles %}

    <a href = "{% url 'detail' comic.id %}">
        <img src =  "{{ comic.comics.url }}" class= "img responsive" height="400" width="400"><br>
    </a>

    Tytuł : {{ comic.title }}<br>
    Status:
    {% if comic.publiczny %}
        Publiczny<br>
    {% else %}
        Prytwany <br>
    {% endif %}
    <p style="font-size: 20px">Zmień status komiksu  </p>
    <div class="col-md-12">
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="formularz">
                {{ form}}
            </div>
            <button type="submit" class="zapisz">Zmień</button>
        </form>
    </div>


{% endblock %}