{% extends "baza.html" %}

{% block title %}Komentarze{% endblock %}
{% block content %}
    {% load comments %}


        {% get_comment_list for user as comment_list %}
        {% for comment in comment_list %}
            <div class="">
                {{ comment.comment }}
                <br/>
                <small><a href = "{% url 'profil' comment.user_id %}">{{ comment.user_name}} </a></small>
                <small>{{ comment.submit_date }}</small>
                <hr/>
            </div>
        {% endfor %}


{% endblock %}