{% extends "baza.html" %}

{% block title %}Moje konto{% endblock %}
{% block content %}
    {% load staticfiles %}
<br>
    <div class="col-md-12 text-left">
        <h2>Twoja nazwa użytkownika: <b>{{ user}}</b></h2>
        <h2>Adres email: <b>{{ user.email }} </b></h2>
        <h2>Data utworzenia konta: <b>{{ user.date_joined}}</b> </h2>
    </div>
    <div class="col-md-12 text-left">
            <form method="post" novalidate>
                {% csrf_token %}
                <div class="formularz">
                    {{ form}}
                </div>
                <button type="submit" class="zapisz">Zmień</button>
            </form>
    </div><br><br><br><br><br>


    <div class="col-sm-12">
        <a href="{% url 'delete_konto' %}"><span class="glyphicon glyphicon-remove" style="color: #000000; font-size: 50px" ></span> Usuń konto</a>
    </div>


{% endblock %}