{% extends "baza.html" %}
{% block title %}Komiksy{% endblock %}

{% block content %}


            {% if comm %}
                {% for com in comm %}
                    <div class = "col-sm-5 text-left">
                        <a href="{% url 'detail' com.comic.id %} ">
                            <img src =  "{{ com.comic.comics.url }}" class= "img-responsive"  width = "100" height="100" align="center">
                        </a>
                        Tresc : {{ com.text }}<br>
                        Dodano: {{ com.created }}<br>

                        <a href="{% url 'usun_komentarz' com.id %} ">
                            <span class="glyphicon glyphicon-remove" style="font-size: 30px" ></span>Usuń komentarz
                        </a>
                    </div>
                {%  endfor %}
            {% else %}
                <h2>Nie dodałeś żadnych komentarzy</h2>
            {% endif %}

{% endblock %}