{% extends "baza.html" %}

{% block title %}Komiks{% endblock %}


{% block content %}
    <span style="position:static; font-style: italic; font-weight: bold; font-size: 100%;">{% load static %}

<div id="image-container">

                <figure><label>
                    <img src="{% static 'img/bg3.jpg' %}" width="300" height="300" class="img-responsive">
                    <figcaption> Sklep</figcaption>
                </label></figure>

                <figure><label>
                    <img src="{% static 'img/pg5.jpg' %}" width="300" height="300" class="img-responsive">
                    <figcaption> Plaża
                    </figcaption>
               </label> </figure>

                 <figure><label>
                     <img src="{% static 'img/bg6.jpg' %}" width="300" height="300" class="img-responsive">
                        <figcaption>
                           Miasto
                        </figcaption>
                    </label></figure>

                <figure><label>
                    <img src="{% static 'img/zamek.png' %}" class="img-responsive" alt = "sss" width="300" height="300">
                    <figcaption>
                         Zamek
                    </figcaption>
                </label></figure>

                <figure><label>
                    <img src="{% static 'img/mountain.jpg' %}"  class="img-responsive" alt = "sss" width="300" height="300">
                    <figcaption>
                        <input type="radio" name="background"
                               value="mountain.jpg"> Góry
                    </figcaption>
                </label></figure>
        </div>


    <h2>Bohaterowie</h2>
        <div id="image-container">
            <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/blueHero.png' %}" class="img-responsive" height="100" width="100">
                </a>
                <figcaption><p>Człowiek puzel</p></figcaption>
            </figure>

            <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/blueHeroP.png' %}" class="img-responsive" height="100" width="100">
                </a>
                <figcaption></figcaption>
            </figure>

            <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/blueHeroL.png' %}" class="img-responsive" height="100" width="100">
                </a>
                <figcaption></figcaption>
            </figure><br>


            <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/greenHero.png' %}" class="img-responsive" height="100" width="100">
                </a>
                <figcaption><p>Klepsydron</p></figcaption>
            </figure>

            <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/greenHeroL.png' %}" class="img-responsive" height="100" width="100">
                </a>
                <figcaption></figcaption>
            </figure>

            <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/greenHeroP.png' %}" class="img-responsive" height="100" width="100">
                </a>
                <figcaption></figcaption>
            </figure>

            <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/purpleHero.png' %}" class="img-responsive" height="100" width="100">
                </a>
                <figcaption><p>Diamentman</p></figcaption>
            </figure>

             <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/purpleHeroL.png' %}" class="img-responsive" height="100" width="100">
                </a>
                <figcaption></figcaption>
            </figure>

             <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/purpleHeroP.png' %}" class="img-responsive" height="100" width="100">
                </a>
                <figcaption></figcaption>
            </figure>
    </div>

        <div id="image-container">
             <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/redHero.png' %}" class="img-responsive" height="100" width="100">
                </a>
                <figcaption><p>Gwiazdoman</p></figcaption>
            </figure>

            <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/redHeroL.png' %}" class="img-responsive" height="100" width="100">
                </a>
                <figcaption></figcaption>
            </figure>

            <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/redHeroR.png' %}" class="img-responsive" height="100" width="100">
                </a>
                <figcaption></figcaption>
            </figure>

            <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/superhero.png' %}" class="img-responsive" height="100" width="100">
                </a>
                <figcaption><p>Czerwony<br>bohater</p></figcaption>
            </figure>

            <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/superheroR.png' %}" class="img-responsive" height="100" width="100">
                </a>
                <figcaption></figcaption>
            </figure>

            <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/superheroL.png' %}" class="img-responsive" height="100" width="100">
                </a>
                <figcaption></figcaption>
            </figure>

            <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/yellowHero.png' %}"  class="img-responsive" height="100" width="100">
                </a>
                <figcaption><p>Słoneczny<br>bohater</p></figcaption>
            </figure>

            <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/yellowHeroR.png' %}" class="img-responsive" height="100" width="100">
                </a>
                <figcaption></figcaption>
            </figure>

            <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/yellowHeroL.png' %}" class="img-responsive" height="100" width="100">
                </a>
                <figcaption></figcaption>
            </figure>
        </div>

         <div id="image-container">
            <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/superheroina.png' %}" class="img-responsive" height="100" width="100">
                </a>
                <figcaption><p>Czerwona<br>bohaterka</p></figcaption>
            </figure>

            <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/superheroinaR.png' %}" class="img-responsive" height="100" width="100">
                </a>
                <figcaption></figcaption>
            </figure>

            <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/superheroinaL.png' %}"  class="img-responsive" height="100" width="100">
                </a>
                <figcaption></figcaption>
            </figure>


            <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/nerd.png' %}" class="img-responsive" height="100" width="100">
                </a>
                <figcaption> <p>Nerd</p></figcaption>
            </figure>

             <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/nerdP.png' %}" class="img-responsive" height="100" width="100">
                </a>
                <figcaption></figcaption>
            </figure>

             <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/nerdL.png' %}" class="img-responsive" height="100" width="100">
                </a>
                <figcaption></figcaption>
            </figure>

             <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/robot.png' %}" class="img-responsive" height="100" width="100">
                </a>
                <figcaption> <p>Robot <br>Stan</p></figcaption>
            </figure>

             <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/robotP.png' %}" class="img-responsive" height="100" width="100">
                </a>
                <figcaption></figcaption>
            </figure>

             <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/robotL.png' %}" class="img-responsive" height="100" width="100">
                </a>
                <figcaption></figcaption>
            </figure>
         </div>

        <div id="image-container">
             <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/tajniak.png' %}"  class="img-responsive" height="100" width="100">
                </a>
                <figcaption><p>Tajniak</p></figcaption>
            </figure>

            <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/tajniakL.png' %}"  class="img-responsive" height="100" width="100">
                </a>
                <figcaption></figcaption>
            </figure>

            <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/tajniakP.png' %}" class="img-responsive" height="100" width="100">
                </a>
                <figcaption></figcaption>
            </figure>

             <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/ufoHappy.png' %}"  class="img-responsive" height="100" width="100">
                </a>
                 <figcaption><p>Ufo<br>ludek</p></figcaption>
            </figure>

             <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/ufoL.png' %}" class="img-responsive" height="100" width="100">
                </a>
                <figcaption></figcaption>
            </figure>

            <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/ufoP.png' %}"  class="img-responsive" height="100" width="100">
                </a>
                <figcaption></figcaption>
            </figure>


            <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/boySad.png' %}"  class="img-responsive" height="100" width="100">
                </a>
                <figcaption><p>Elliot</p></figcaption>
            </figure>

             <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/boyLHappy.png' %}"  class="img-responsive" height="100" width="100">
                </a>
                <figcaption></figcaption>
            </figure>
            <figure>
                <a href = "{% url 'home' %}">
                <img src="{% static 'img/postacie/boyPHappy.png' %}"  class="img-responsive" height="100" width="100">
                </a>
                <figcaption></figcaption>
            </figure>

         </div>


</span>
{% endblock %}