{% extends "baza.html" %}

{% block title %}Profil{% endblock %}

{% block content %}

    <br>

    Komiksy użytkownika: {{ owner }}<br>

    {# Subsrypcja twórcy komiksu, anulowanie subskrypcji  #}
    {% if user.is_authenticated %}
        {% if user.id != owner.id and subs.id > 0 %}
            <a href="{% url 'unsubscribe_user' owner.id %}">Anuluj subsypcje</a><br>
        {% elif user.id != owner.id %}
            <a href="{% url 'subscribe_user' owner.id %}">Subskrybuj</a>
        {% endif %}
    {% endif %}


    {% if comics %}
        {% for comic in comics %}
            <br>

            {% if user.id == owner.id  %}
            {{ forloop.counter }}. <a href="{% url 'detail' comic.id %} ">
            <img src =  "{{ comic.comics.url }}" class= "img responsive" width = "100" height="100"></a>
                <a href = "{% url 'delete_comic' comic.id %}">
                    <i class="glyphicon glyphicon-trash"></i> usuń
                </a>

                {% elif comic.publiczny %}

                <a href="{% url 'detail' comic.id %} ">
                <img src =  "{{ comic.comics.url }}" class= "img responsive" width = "100" height="100"></a>
                {{ comic.created }}
            {% endif %}

        {% endfor %}

    {% else %}
        Użytkownik nie ma żadnych komiksów
    {% endif %}

{% endblock %}