

{% extends "baza.html" %}

{% block title %}komiks{% endblock %}
{% block content %}
    <span style="position:static; font-style: italic; font-weight: bold; font-size: 100%;"></span>{% load static %}
    <h1>Stworz komiks</h1>
    <div id="image-container">

        <img src =  "{{ elementy.background.url }}" class= "img responsive">
        <br>

        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}


        <button id = "sub" name = "sub" >Zapisz</button><br>

        </form>

    Wróć na stronę <a href="{% url 'home' %}">główną</a>


    </div>


{% endblock %}