
{% extends "baza.html" %}

{% block title %}komiks{% endblock %}
{% block content %}
    <span style="position:static; font-style: italic; font-weight: bold; font-size: 100%;">{% load static %}
    <h1>Stworzony komiks </h1>



        <img src =  "{{ elementy.background.url }}" class= "img responsive" height="500" width="500"><br>
        <a href="{{ elementy.background.url }}"  download="{{ elementy.background.url }}" style="color: #ac2925">
            <span class="glyphicon glyphicon-download"></span> Pobierz</a>

    {% if user.is_authenticated %}


        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <div class="fields-title">
        {{ form.as_p }}


        <button id = "sub" name = "sub" class = "zapisz" >Zapisz</button><br>
            </div>
        </form>


    {% endif %}


    Wróć do <a href="{% url 'delete_elementy' elementy.id %}">wybierania elementów</a><br>
     Wróć na stronę <a href="{% url 'home' %}">główną</a>
    </span>
{% endblock %}