{% extends "baza.html" %}

{% block title %}Ulubione{% endblock %}

{% block content %}
    {% load comments %}

    <h3> <span class="glyphicon glyphicon-heart" style="color: #ac2925; font-size: 50px" ></span> <b>Ulubione</b></h3>
    {% if comics %}
        {% for comic in comics %}
            <div class="col-sm-6">
                {{ forloop.counter }}.
                <a href="{% url 'detail' comic.comic.id %} ">   <img src =  "{{ comic.comic.comics.url }}" class= "img responsive" height="200" width="200"> </a>
                {{ comic.comic.title }}  {{ comic.comic.created }} <a href="{% url 'profil' comic.comic.owner.id %} " class = "user">{{ comic.comic.owner }}</a><br>
                Liczba komentarzy: <span class="badge">{% get_comment_count for comic.comic as comment_count %} {{ comment_count }}</span>
            </div>
        {%  endfor %}
    {% else %}
        <br><h3>Nie masz żadnych ulubionych komiksów!<span class="glyphicon glyphicon-heart-empty"></span></h3><br>
        <h3>Zmień to, przeglądając <a href="{% url 'kolekcja' %} "> komiksy
            <span class="glyphicon glyphicon-picture"></span></a> innych użytkowników</h3><br><br/><br><br><br><br><br><br><br><br>

    {% endif %}

{% endblock %}